.about{
    background-image: linear-gradient(to bottom, rgb(42, 37, 56)  , var(--color3) 40%, var(--color5));
    color: white;
    padding-top: 20%;
}

.about .content{
    padding-top: 60px;
}

.about .title-container{
    line-height: 200%;
}

.text{
    color: white;
    font-size: 25px;
    text-align: justify;
    transition: all 1.75s ease;
    max-width: 550px;
}

.show{
    opacity : 100;
}

/* QUERYYY Oh GOD! */

@media (max-width:1200px){    
    
    .about .content{
        padding-top: 20px;
    }
    
    .text{
        font-size: 23px;
        max-width: 500px;
    }
}

@media (max-width: 975px){
    .about{
        height: 80vh;
    }
    
    .about .content{
        padding-top: 20px;
    }
    
    .text{
        font-size: 20px;
        max-width: 450px;
    }
}

@media (max-width: 800px){
    .about{
        height: 80vh;
    }
    
    .about .content{
        padding-top: 20px;
    }
    
    .text{
        font-size: 18px;
        max-width: 400px;
    }
}

@media (max-width: 650px){
    .about{
        height: 60vh;
        padding-left: 60px;
    }
    
    .about .content{
        padding-top: 20px;
    }
    
    .text{
        font-size: 14px;
        max-width: 300px;
    }
}

@media (max-width: 450px){
    .text{
        font-size: 10px; 
        margin-right: 0;
        max-width: 200px;
    }

    .about{
        height: 40vh;
        padding-left: 45px;
    }

    .about .content{
        padding-top: 0;
        display: block;
        padding: 0 30px 0 0 ;
    }
}

@media (max-width: 975px) and (orientation: landscape) {
    .about{
        height: 100vh;
    }
}
