.contact{
    display: flex;
    height: 50vh;
    align-items: end;
}

.contact .title-container{
    width: auto;
    border-right: 6px solid white;
    padding: 0 50px 10px 0;
    text-align: left;
}

#contacts-container{
    flex : 1;
    height: 220px;
    position: relative;
    margin: 0 50px;
}

#contacts-container a{
    text-decoration: none;
}

.contacts{
    display: flex;
    position: absolute;
}

.contact-logo-container{
    width: 50px;
    height: 50px;
}

.contact-logo{
    fill: white;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.contact-label{
    font-size: 22px;
    color: white;
    margin-left: 10px;
    padding-top: 8px;
}

.contact-ig{
    top: 50px;
}

.contact-wa{
    top: 150px;
}

.contact-gh{
    top: 50px;
    left: 350px
}

.contact-em{
    top: 150px;
    left: 350px;
}

.contact-em .contact-label{
    font-size: 18px;
}

@media (max-width:1200px){
    .contact{
        height: 50vh;
    }
    
    .contact .title-container{
        border-right: 6px solid white;
        padding: 0 40px 10px 0;
        font-size: 45px;
    }
    
    #contacts-container{
        height: 205px;
        margin: 0 30px;
    }
    
    .contact-logo-container{
        width: 30px;
        height: 30px;
    }
    
    .contact-label{
        font-size: 22px;
        margin-left: 10px;
        padding-top: 8px;
    }
    
    .contact-ig{
        top: 80px;
    }
    
    .contact-wa{
        top: 170px;
    }
    
    .contact-gh{
        top: 80px;
        left: 290px
    }
    
    .contact-em{
        top: 170px;
        left: 290px;
    }
    
    .contact-em .contact-label{
        font-size: 18px;
    }
}

@media (max-width: 975px){
    .contact{
        height: 50vh;
    }
    
    .contact .title-container{
        border-right: 6px solid white;
        padding: 0 30px 10px 0;
        font-size: 45px;
    }
    
    #contacts-container{
        height: 205px;
        margin: 0 30px;
    }
    
    .contact-logo-container{
        width: 30px;
        height: 30px;
    }
    
    .contact-label{
        font-size: 17px;
        margin-left: 10px;
        padding-top: 8px;
    }
    
    .contact-ig{
        top: 100px;
    }
    
    .contact-wa{
        top: 170px;
    }
    
    .contact-gh{
        top: 100px;
        left: 220px
    }
    
    .contact-em{
        top: 170px;
        left: 220px;
    }
    
    .contact-em .contact-label{
        font-size: 14px;
    }
}

@media (max-width: 800px){
    .contact{
        height: 40vh;
    }
    
    .contact .title-container{
        border-right: 6px solid white;
        padding: 0 30px 10px 0;
        font-size: 33px;
    }
    
    #contacts-container{
        height: 205px;
        margin: 0 20px;
    }
    
    .contact-logo-container{
        width: 20px;
        height: 20px;
    }
    
    .contact-label{
        font-size: 13px;
        margin-left: 10px;
        padding-top: 1px;
    }
    
    .contact-ig{
        top: 130px;
    }
    
    .contact-wa{
        top: 180px;
    }
    
    .contact-gh{
        top: 130px;
        left: 190px
    }
    
    .contact-em{
        top: 180px;
        left: 190px;
    }
    
    .contact-em .contact-label{
        font-size: 11px;
    }
}

@media (max-width: 650px){
    .contact{
        height: 40vh;
    }
    
    .contact .title-container{
        border-right: 6px solid white;
        padding: 0 10px 10px 0;
        font-size: 24px;
    }
    
    #contacts-container{
        height: 205px;
        margin: 0 20px;
    }
    
    .contact-logo-container{
        width: 10px;
        height: 10px;
    }
    
    .contact-label{
        font-size: 9px;
        margin-left: 10px;
        padding-top: 4px;
    }
    
    .contact-ig{
        top: 130px;
    }
    
    .contact-wa{
        top: 180px;
    }
    
    .contact-gh{
        top: 130px;
        left: 120px
    }
    
    .contact-em{
        top: 180px;
        left: 120px;
    }
    
    .contact-em .contact-label{
        font-size: 7px;
    }
}


@media (max-width:450px){
    .contact{
        height: 40vh;
    }
    
    .contact .title-container{
        border-right: 6px solid white;
        padding: 0 10px 10px 0;
        font-size: 17px;
    }
    
    #contacts-container{
        height: 60px;
        margin: 0 15px;
    }
    
    .contact-logo-container{
        width: 15px;
        height: 1px;
    }
    
    .contact-label{
        font-size: 8px;
        margin-left: 5px;
        align-items: start;
        padding-top: 2px;
    }
    
    .contact-ig{
        top: 0px;
    }
    
    .contact-wa{
        top: 40px;
    }
    
    .contact-gh{
        top: 0px;
        left: 105px
    }
    
    .contact-em{
        top: 40px;
        left: 105px;
    }
    
    .contact-em .contact-label{
        font-size: 5px;
    }
}