:root{
    --color1: #1a1a1f;
    --color2: #1a2551;
    --color3: #483b65;
    --color4: #4c576b;
    --color5: #4f3b7a;
    --color6: #80739c;

    --primary-font: 'Bai Jamjuree';
    --secondary-font: Roboto;
}

*{
    margin: 0;
}

body{
    background-image: var(--color1);
    font-family: var(--primary-font), var(--secondary-font);
    width: 100%;
    overflow-x: hidden;
}

.section{
    height: 100vh;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    padding-left: 11%;
}

.title-container{
    font-size: 60px;
    font-weight: bold;
    width: 10%;
    color: white;
    text-align: justify;
    display: flex;
    cursor: default;
}


.title-icon{
    object-fit: contain;
    width: 50%;
    height: 50%;
}


.fade-in{
    opacity: 0;
    transition: all 1s ease;
}

.show{
    opacity : 100;
}

.contact{
    height: 90vh;
    background-color: var(--color1);
}

.scrollbar{
    position: fixed;
    left: -50px;
    top: 30%;
    scale: .5;
    transition: all .5s ease;
    width: 200px;
    height: 300px;
    z-index: 10;
    opacity: 0;
    /* background-color: white; */
}

.scrollbar:hover{
    left: -40px;
    top: 30%;
    transform: scale(2);
    opacity: 1;
}


.scrollcircle{
    z-index: 1;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    transition: all .2s ease;
    background-color: white;
}

.scrollcircle:hover{
    scale: 1.5;
    cursor: pointer;
    box-shadow: .1px .1px .5px 2px  white;
    background-color: var(--color5);
}

#scrollbarBar{
    top: 5em;
    left: calc(50% + 7.5px);
    opacity: 1;
    background-color: white;
    position: absolute;
    width: .5em;
    height: 10em;
}

#scrollcircle1{
    top: 4em;
}

#scrollcircle2{
    top: 7.5em;
}

#scrollcircle3{
    top: 11em;
}

#scrollcircle4{
    top: 14.5em;
}

.up-container{
    height: 50px;
    width: 50px;
    left: 87px;
    top: 10px;
    position: absolute;
}

.up-container > *{
    width: 100%;
    height: 100%;
}

.down-container{
    height: 50px;
    width: 50px;
    left: 87px;
    position: absolute;
    top: 260px;
}

.down-container > *{
    width: 100%;
    height: 100%;
    rotate: 180deg;
}

.glow{
    text-shadow: .75px .75px 2px #fff;
}

.glowsvg{
    box-shadow: .75px .75px 2px #fff;;
}


/* QUERYYY Oh GOD! */

@media (max-width: 450px){
    .title-container{
        font-size: 30px;}
    html, body {
        overflow-x:hidden 
    } 
}