.intro{
    height: 101vh;
    background-image: linear-gradient(to bottom, #1A1A1F 50%, #483b65 180%);
    display: flex;
    justify-content: start;
    width: 200%;
    padding-top: 25%;
}

.intro_text{
    display: flex;
}

.intro-name-1{
    font-size: 22px;
    font-weight: light;
    color: white;
    padding-left: 15px; 
}

.intro-name-1:hover{
    cursor:default
}

.intro-name-2{
    font-size: 80px;
    font-weight: bolder;
    color: white;
    padding-left: 10px;
}

.intro-name-2:hover{
    cursor:default
}

.intro-name-3{
    font-size: 30px;
    color: white;
    padding-left: 15px;
}

.intro-name-3:hover{
    cursor:default
}

.qna{
    display: flex;
    position: relative;
    max-width: 550px;
}

.qna_box{
    color: var(--color1);
    background-color: white;
    border: 0;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0 10px 20px;
    width: 77%;
    border-radius: 25px;
    margin-left: 5px;
    position: relative;
    z-index:2;
}

.qna_box:focus{
    outline: none;
}

::placeholder{
    color: var(--color5)
}

.qna-box-click{
    border-radius: 25px;
    width: 100px;
    position: absolute;  
    bottom:-1px;
    right: 15%;
    padding: 12px 0;
    text-align: center;
    background-color: var(--color2);
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index:2;
}

.qna-box-click:hover{
   background-color: #101733;
   transition: 0.5s ease-in;
}

.logo{
    scale: .6;
    position: absolute;
    z-index: 1;
}

#main-logo{
    right: 100px;
    top : 240px;
    z-index: 10;
}
#main-logo-circle{
    right: -55px;
    top : 100px;
}

#main-logo-circle2{
    right: -331px;
    top : -175px;
}

#main-logo-circle3{
    right: -1645px;
    top : -1500px;
}

@-webkit-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes unspin {
    100%{-webkit-transform: rotate(0deg);}
}

@-moz-keyframes unspin {
    100%{-webkit-transform: rotate(0deg);}
}

@keyframes unspin {
    100%{-webkit-transform: rotate(0deg);}
}

@media (max-width:1200px){
    .intro{
        height: 101vh;
        width: 200%;
        padding-top: 40%;
    }
    
    .intro-name-1{
        font-size: 20px;
        padding-left: 15px; 
    }
    
    .intro-name-2{
        font-size: 70px;
        padding-left: 10px;
    }
    
    .intro-name-3{
        font-size: 25px;
        padding-left: 15px;
    }
    
    .qna{
        max-width: 550px;
    }
    
    .qna_box{
        border: 0;
        margin-top: 20px;
        font-size: 18px;
        padding: 10px 0 10px 20px;
        width: 87%;
        border-radius: 25px;
        margin-left: 5px;
    }
    
    .qna-box-click{
        border-radius: 25px;
        width: 100px;
        bottom:-1px;
        right: 0%;
        padding: 12px 0;
    }
    
    .logo{
        scale: .4;
    }
    
    #main-logo{
        right: 100px;
        top : 200px;
    }
    #main-logo-circle{
        right: -55px;
        top : 80px;
    }
    
    #main-logo-circle2{
        right: -331px;
        top : -195px;
    }
    
    #main-logo-circle3{
        right: -1645px;
        top : -1510px;
    }
}



@media (max-width: 975px){
    .intro{
        height: 101vh;
        width: 200%;
        padding-top: 45%;
    }
    
    .intro-name-1{
        font-size: 18px;
        padding-left: 15px; 
    }
    
    .intro-name-2{
        font-size: 60px;
        padding-left: 10px;
    }
    
    .intro-name-3{
        font-size: 22px;
        padding-left: 15px;
    }
    
    .qna{
        max-width: 750px;
    }
    
    .qna_box{
        border: 0;
        margin-top: 20px;
        font-size: 18px;
        padding: 10px 0 10px 20px;
        width: 100%;
        border-radius: 25px;
        margin-left: 5px;
    }
    
    .qna-box-click{
        border-radius: 25px;
        width: 100px;
        bottom:-1px;
        right: -10%;
        padding: 12px 0;
    }
    
    .logo{
        scale: .4;
    }
    
    #main-logo{
        right: 0px;
        top : 110px;
    }
    #main-logo-circle{
        right: -155px;
        top : -20px;
    }
    
    #main-logo-circle2{
        right: -431px;
        top : -295px;
    }
    
    #main-logo-circle3{
        right: -1745px;
        top : -1610px;
    }
}


@media (max-width: 800px){
    .intro{
        height: 101vh;
        width: 200%;
        padding-top: 60%;
    }
    
    .intro-name-1{
        font-size: 18px;
        padding-left: 15px; 
    }
    
    .intro-name-2{
        font-size: 50px;
        padding-left: 10px;
    }
    
    .intro-name-3{
        font-size: 22px;
        padding-left: 15px;
    }
    
    
    .qna_box{
        border: 0;
        margin-top: 20px;
        font-size: 15px;
        padding: 10px 0 10px 20px;
        width: 250px;
        border-radius: 25px;
        margin-left: 5px;
    }
    
    .qna-box-click{
        border-radius: 25px;
        width: 100px;
        bottom:-1px;
        right: -10%;
        padding: 12px 0;
        font-size: 15px;
    }
    
    .logo{
        scale: .38;
    }
    
    #main-logo{
        right: -10px;
        top : 100px;
    }
    #main-logo-circle{
        right: -165px;
        top : -30px;
    }
    
    #main-logo-circle2{
        right: -441px;
        top : -305px;
    }
    
    #main-logo-circle3{
        right: -1755px;
        top : -1620px;
    }
}

@media (max-width: 650px){
    .intro{
        height: 80vh;
        width: 200%;
        padding-top: 70%;
    }
    
    .intro-name-1{
        font-size: 15px;
        padding-left: 9px; 
    }
    
    .intro-name-2{
        font-size: 40px;
        padding-left: 4px;
    }
    
    .intro-name-3{
        font-size: 18px;
        padding-left: 9px;
    }
    
    
    .qna_box{
        border: 0;
        margin-top: 20px;
        font-size: 12px;
        padding: 8px 0 8px 10px;
        width: 200px;
        border-radius: 25px;
        margin-left: 5px;
    }
    
    .qna-box-click{
        border-radius: 25px;
        width: 70px;
        bottom:-1px;
        right: -10%;
        padding: 8px 0;
        font-size: 12px;
    }
    
    .logo{
        scale: .28;
    }
    
    #main-logo{
        right: -80px;
        top : 20px;
    }
    #main-logo-circle{
        right: -235px;
        top : -110px;
    }
    
    #main-logo-circle2{
        right: -511px;
        top : -385px;
    }
    
    #main-logo-circle3{
        right: -1825px;
        top : -1700px;
    }
}

@media (max-width: 450px){
    .intro{
        width: 100%;
        padding: 70% 0 0 30px;
        height: 60vh;
    }

    .intro_text{
        display: flex;
    }
    
    .intro-name-1{
        font-size: 14px;
        padding-left: 15px; 
    }
    
    .intro-name-2{
        font-size: 40px;
        padding-left: 10px;
    }
    
    .intro-name-3{
        font-size: 18px;
        padding-left: 15px;
    }
    .qna{
        max-width: 200px;
    }
    
    .qna_box{
        border: 0;
        margin-top: 10px;
        font-size: 10px;
        padding: 5px 0 5px 10px;
        border-radius: 25px;
        margin-left: 10px;
    }
    
    .qna-box-click{
        width: 30px;
        font-size: 10px;
        position: absolute;  
        right: 0;
        padding: 6px 9px;
    }
    
    .qna-box-click:hover{
       background-color: #101733;
       transition: 0.5s ease-in;
    }
    
    .logo{
        scale: .2;
    }
    
    #main-logo{
        scale: .15;
        right: -90px;
        top : -40px;
        z-index: 10;
    }
    #main-logo-circle{
        right: -246px;
        top : -165px;
    }
    
    #main-logo-circle2{
        right: -522px;
        top : -441px;
    }
    
    #main-logo-circle3{
        right: -1833px;
        top : -1757px;
    }
}

@media (max-width: 975px) and (orientation=landscape){
    .intro{
        height: 150vh;
    }
}