.intro{
    height: 101vh;
    background-image: linear-gradient(to bottom, #1A1A1F 50%, #483b65 180%);
    display: flex;
    justify-content: start;
    width: 200%;
    padding-top: 25%;
}

.intro_text{
    display: flex;
}

.intro-name-1{
    font-size: 22px;
    font-weight: light;
    color: white;
    padding-left: 15px; 
}

.intro-name-1:hover{
    cursor:default
}

.intro-name-2{
    font-size: 80px;
    font-weight: bolder;
    color: white;
    padding-left: 10px;
}

.intro-name-2:hover{
    cursor:default
}

.intro-name-3{
    font-size: 30px;
    color: white;
    padding-left: 15px;
}

.intro-name-3:hover{
    cursor:default
}

.qna{
    display: flex;
    position: relative;
    max-width: 550px;
}

.qna_box{
    color: var(--color1);
    background-color: white;
    border: 0;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0 10px 20px;
    width: 77%;
    border-radius: 25px;
    margin-left: 5px;
    position: relative;
    z-index:2;
}

.qna_box:focus{
    outline: none;
}

::placeholder{
    color: var(--color5)
}

.qna-box-click{
    border-radius: 25px;
    width: 100px;
    position: absolute;  
    bottom:0;
    right: 15%;
    padding: 11px 0;
    text-align: center;
    background-color: var(--color2);
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index:2;
}

.qna-box-click:hover{
   background-color: #101733;
   transition: 0.5s ease-in;
}

.logo{
    scale: .6;
    position: absolute;
    z-index: 1;
}

#main-logo{
    right: 100px;
    top : 240px;
    z-index: 10;
}
#main-logo-circle{
    right: -55px;
    top : 100px;
}

#main-logo-circle2{
    right: -331px;
    top : -175px;
}

#main-logo-circle3{
    right: -1645px;
    top : -1500px;
}

@-webkit-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes unspin {
    100%{-webkit-transform: rotate(0deg);}
}

@-moz-keyframes unspin {
    100%{-webkit-transform: rotate(0deg);}
}

@keyframes unspin {
    100%{-webkit-transform: rotate(0deg);}
}

@media (max-width: 450px){
    .intro{
        width: 100%;
        padding: 70% 0 0 30px;
        height: 60vh;
    }

    .intro_text{
        display: flex;
    }
    
    .intro-name-1{
        font-size: 14px;
        padding-left: 15px; 
    }
    
    .intro-name-2{
        font-size: 40px;
        padding-left: 10px;
    }
    
    .intro-name-3{
        font-size: 18px;
        padding-left: 15px;
    }
    .qna{
        max-width: 200px;
    }
    
    .qna_box{
        color: var(--color1);
        background-color: white;
        border: 0;
        margin-top: 10px;
        font-size: 10px;
        padding: 5px 0 5px 10px;
        border-radius: 25px;
        margin-left: 10px;
    }
    
    .qna-box-click{
        width: 30px;
        font-size: 10px;
        position: absolute;  
        right: 12%;
        padding: 5px 7px;
    }
    
    .qna-box-click:hover{
       background-color: #101733;
       transition: 0.5s ease-in;
    }
    
    .logo{
        scale: .2;
    }
    
    #main-logo{
        scale: .15;
        right: -70px;
        top : -80px;
        z-index: 10;
    }
    #main-logo-circle{
        right: -226px;
        top : -205px;
    }
    
    #main-logo-circle2{
        right: -502px;
        top : -481px;
    }
    
    #main-logo-circle3{
        right: -1813px;
        top : -1797px;
    }
}