
.navbar{
    position: fixed;
    z-index: 10;
    width: 100%;
    display: grid;
    grid-template-columns: 650px 1fr;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
}

.nav-title{
    padding-left: 80px;
    font-size: 25px;
    padding-top: 2px;
    cursor: default;
}

.nav-content{
    margin-right: 50px;
    display: flex;
    gap: 80px;
    position: relative;
    justify-content: end;
}

.nav-content div{
    text-align: center;
    line-height: 40px;
    float: right;
    height: 45px;
    cursor: pointer;
    justify-self: end;
    --c:linear-gradient(white 0 0); /* update the color here */
    padding-bottom: .15em;
    background: var(--c), var(--c);
    background-size: .3em .1em;
    background-position:50% 100%;
    background-repeat: no-repeat;
    transition: .1s linear, background-size .1s .1s linear;
}

.nav-content div:hover, .nav-content div:focus{
    background-size: 40% .1em;
    background-position: 10% 100%, 90% 100%;
}

@media (max-width: 450px){
    .navbar{
        grid-template-columns: 650px 1fr;
        color: white;
        font-size: 18px;
        padding: 30px 0 0 50px;
    }
    
    .nav-title{
        padding: 0;
        font-size: 12px;
        padding-top: 2px;
    }
    
    .nav-content{
        margin-right: 50px;
        gap: 80px;
    }
    
    .nav-content div{
        line-height: 40px;
        float: right;
        height: 45px;
        --c:linear-gradient(white 0 0); /* update the color here */
        padding-bottom: .15em;
        background: var(--c), var(--c);
        background-size: .3em .1em;
        background-position:50% 100%;
        background-repeat: no-repeat;
        transition: .1s linear, background-size .1s .1s linear;
    }
    
    .nav-content div:hover, .nav-content div:focus{
        background-size: 40% .1em;
        background-position: 10% 100%, 90% 100%;
    }
}

@media (max-width: 450px){
    .navbar{
        max-width: 300px;
    }

    html{
        overflow-x: hidden scroll;
    }

    body {
        width: auto!important; 
        overflow-x: hidden!important
    }
}