.project{
    background-color: #4f3b7a;
    background-image: linear-gradient(to bottom, #4f3b7a, var(--color1));
    min-height: 270vh;
    padding: 20% 50px 600px 150px;
}

.projects-container{
    margin-top: 100px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.projects{
    background-color: white;
    border-radius: 50px;;
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex: 1;
    max-height: 400px;
}

.project-img{
    max-height: 400px;
    width: 60%;
    position: relative;
    text-align: center;
    align-items: end;
    padding-top: 70px;
}

.project-icon-container{
    margin: auto;
    max-width: 150px;
    max-height: 150px;
}

.project-icon{
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-icon-label{
    margin: auto;
    max-width: 330px;
    font-size: 24px;
    color: var(--color5);
    font-weight: bold;
    cursor: default;
    margin-top: 30px;
}

.project-desc{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: default;
}

.project-text{
    padding: 40px 50px 0 0;
    font-size: 20px;
    text-align: justify;
    color: var(--color5);
    position: relative;
}

.project-detail-border2{
    border-bottom: 4px solid var(--color5);
    width: 40%;
    padding-top: 28px;
}

.project-skill{
    display: flex;
    padding-top: 60px;
    position: relative;
}

.project-skill > div{
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.project-skill > a{
    flex: 1;
    justify-content: end;
}

.go-container{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    padding: 15px;
    cursor:pointer;
    position: absolute;
    right: 30px;
    bottom: -20px;
}

.go-logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.skill{
    padding: 7px 8px;
    background-color: #4f3b7a;
    color: white;
    font-size: 18px;
    border-radius: 4px;
}


@media (max-width: 1200px){
    .project{
        min-height: 240vh;
        padding: 20% 50px 600px 100px;
    }
    
    .projects-container{
        margin-top: 100px;
        height: 1200px;
        gap: 60px;
    }
    
    .projects{
        border-radius: 50px;;
        gap: 30px;
        max-height: 320px;
    }
    
    .project-img{
        max-height: 400px;
        width: 60%;
        padding-top: 70px;
        padding-left: 30px;
    }
    
    .project-icon-container{
        max-width: 120px;
        max-height: 120px;
    }
    
    .project-icon-label{
        max-width: 330px;
        font-size: 20px;
        margin-top: 30px;
    }

    .project-text{
        padding: 40px 50px 0 0;
        font-size: 17px;
    }
    
    .project-detail-border2{
        border-bottom: 4px solid var(--color5);
        width: 40%;
        padding-top: 28px;
    }
    
    .project-skill{
        padding-top: 30px;
    }
    
    .project-skill > div{
        max-width: 500px;
        gap: 15px;
    }
    
    .go-container{
        width: 30px;
        height: 30px;
        border-radius: 100px;
        padding: 15px;
        right: 30px;
        bottom: -15px;
    }
    
    .skill{
        padding: 7px 8px;
        font-size: 12px;
        border-radius: 4px;
    }
}

@media (max-width: 975px){
    .project{
        min-height: 250vh;
        padding: 20% 50px 600px 90px;
    }
    
    .projects-container{
        margin-top: 100px;
        height: 1200px;
        gap: 60px;
    }
    
    .projects{
        border-radius: 50px;;
        gap: 30px;
        max-height: 300px;
    }
    
    .project-img{
        max-height: 400px;
        width: 60%;
        padding-top: 70px;
        padding-left: 30px;
    }
    
    .project-icon-container{
        max-width: 100px;
        max-height: 100px;
    }
    
    .project-icon-label{
        max-width: 330px;
        font-size: 17px;
        margin-top: 30px;
    }

    .project-text{
        padding: 40px 50px 0 0;
        font-size: 14px;
    }
    
    .project-detail-border2{
        border-bottom: 4px solid var(--color5);
        width: 40%;
        padding-top: 20px;
    }
    
    .project-skill{
        padding-top: 20px;
    }   
    
    .project-skill > div{
        max-width: 500px;
        gap: 12px;
    }
    
    .go-container{
        width: 30px;
        height: 30px;
        border-radius: 100px;
        padding: 15px;
        right: 30px;
        bottom: -15px;
    }
    
    .skill{
        padding: 7px 8px;
        font-size: 9px;
        border-radius: 4px;
    }
}

@media (max-width: 780px){
    .project{
        min-height: 200vh;
        padding: 20% 50px 600px 70px;
    }
    
    .projects-container{
        margin-top: 80px;
        height: 900px;
        gap: 60px;
    }
    
    .projects{
        border-radius: 50px;;
        gap: 30px;
        max-height: 250px;
    }
    
    .project-img{
        max-height: 400px;
        width: 60%;
        padding-top: 70px;
        padding-left: 30px;
    }
    
    .project-icon-container{
        max-width: 70px;
        max-height: 70px;
    }
    
    .project-icon-label{
        max-width: 330px;
        font-size: 14px;
        margin-top: 30px;
    }

    .project-text{
        padding: 40px 50px 0 0;
        font-size: 12px;
    }
    
    .project-detail-border2{
        border-bottom: 4px solid var(--color5);
        width: 40%;
        padding-top: 20px;
    }
    
    .project-skill{
        padding-top: 20px;
    }   
    
    .project-skill > div{
        max-width: 500px;
        gap: 8px;
    }
    
    .go-container{
        width: 23px;
        height: 23px;
        border-radius: 100px;
        padding: 15px;
        right: 10px;
        bottom: -15px;
    }
    
    .skill{
        padding: 5px 5px;
        font-size: 9px;
        border-radius: 4px;
    }
}

@media (max-width: 650px){
    .project{
        min-height: 170vh;
        padding: 20% 50px 600px 60px;
    }
    
    .projects-container{
        margin-top: 50px;
        height: 1200px;
        gap: 60px;
    }
    
    .projects{
        border-radius: 50px;;
        gap: 15px;
        max-height: 250px;
    }
    
    .project-img{
        max-height: 400px;
        width: 60%;
        padding-top: 70px;
        padding-left: 15px;
    }
    
    .project-icon-container{
        max-width: 50px;
        max-height: 50px;
    }
    
    .project-icon-label{
        max-width: 330px;
        font-size: 13px;
        margin-top: 20px;
    }

    .project-text{
        padding: 40px 50px 0 0;
        font-size: 10px;
    }
    
    .project-detail-border2{
        border-bottom: 4px solid var(--color5);
        width: 40%;
        padding-top: 20px;
    }
    
    .project-skill{
        padding-top: 20px;
    }   
    
    .project-skill > div{
        max-width: 500px;
        gap: 4px;
    }
    
    .go-container{
        width: 23px;
        height: 23px;
        border-radius: 100px;
        padding: 15px;
        right: 10px;
        bottom: -15px;
    }
    
    .skill{
        padding: 5px 4px;
        font-size: 8px;
        border-radius: 4px;
    }
}

@media (max-width: 450px) {
    .project{
        min-height: 150vh;
        padding: 20% 20px 600px 40px;
    }
    
    .projects-container{
        margin-top: 50px;
        height: 900px;
        gap: 20px;
    }
    
    .projects{
        border-radius: 50px;;
        gap: 15px;
    }
    
    .project-img{
        max-height: 400px;
        width: 60%;
        padding: 70px 0 0 15px;
    }
    
    .project-icon-container{
        max-width: 60px;
        max-height: 60px;
    }
    
    .project-icon-label{
        max-width: 330px;
        font-size: 12px;
        margin-top: 30px;
    }
    
    .project-text{
        padding: 40px 30px 0 0;
        font-size: 9px;
    }
    
    .project-detail-border2{
        border-bottom: 4px solid var(--color5);
        width: 40%;
        padding-top: 10px;
    }
    
    .project-skill{
        padding-top: 20px;
    }
    
    .project-skill > div{
        max-width: 500px;
        gap: 5px;
    }
    
    .go-container{
        width: 20px;
        height: 20px;
        border-radius: 100px;
        padding: 15px;
        right: 5px;
        bottom: -18%;
    }
    
    .skill{
        padding: 5px 6px;
        font-size: 10px;
        border-radius: 4px;
    }
    
}
